{% extends "base.html" %}

{% block content %}
    <form action=""" method="POST">
    <table class="table table-striped" width="100%">
      <tr class="season">
          <th colspan="1">Season</th><th colspan="5">{{ form.season }}</th>
          <th colspan="1">Date</th><th colspan="5" class="datepicker">{{ form.date }}</th>
      </tr>
      <tr class="teams">
          <th colspan="1">Home Team</th><th colspan="5">{{ form.team1 }}</th>
          <th colspan="1">Visiting Team</th><th colspan="5">{{ form.team2 }}</th>
      </tr>
      <tr>
          <th>Player</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th>
          <th>Player</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th>
      </tr>
      <tr class="round">
          <th>{{ form.player1 }}</th><th>{{ form.g01_p1 }}<th>{{ form.g06_p1 }}</th></th><th>{{ form.g11_p1 }}</th></th><th>{{ form.g16_p1 }}</th></th><th>{{ form.g21_p1 }}</th></th>
          <th>{{ form.player6 }}</th><th>{{ form.g01_p2 }}<th>{{ form.g10_p2 }}</th></th><th>{{ form.g14_p2 }}</th></th><th>{{ form.g18_p2 }}</th></th><th>{{ form.g22_p2 }}</th></th>
      </tr>
      <tr class="round">
          <th>{{ form.player2 }}</th><th>{{ form.g02_p1 }}<th>{{ form.g07_p1 }}</th></th><th>{{ form.g12_p1 }}</th></th><th>{{ form.g17_p1 }}</th></th><th>{{ form.g22_p1 }}</th></th>
          <th>{{ form.player7 }}</th><th>{{ form.g02_p2 }}<th>{{ form.g06_p2 }}</th></th><th>{{ form.g15_p2 }}</th></th><th>{{ form.g19_p2 }}</th></th><th>{{ form.g23_p2 }}</th></th>
      </tr>
      <tr class="round">
          <th>{{ form.player3 }}</th><th>{{ form.g03_p1 }}<th>{{ form.g08_p1 }}</th></th><th>{{ form.g13_p1 }}</th></th><th>{{ form.g18_p1 }}</th></th><th>{{ form.g23_p1 }}</th></th>
          <th>{{ form.player8 }}</th><th>{{ form.g03_p2 }}<th>{{ form.g07_p2 }}</th></th><th>{{ form.g11_p2 }}</th></th><th>{{ form.g20_p2 }}</th></th><th>{{ form.g24_p2 }}</th></th>
      </tr>
      <tr class="round">
          <th>{{ form.player4 }}</th><th>{{ form.g04_p1 }}<th>{{ form.g09_p1 }}</th></th><th>{{ form.g14_p1 }}</th></th><th>{{ form.g19_p1 }}</th></th><th>{{ form.g24_p1 }}</th></th>
          <th>{{ form.player9 }}</th><th>{{ form.g04_p2 }}<th>{{ form.g08_p2 }}</th></th><th>{{ form.g12_p2 }}</th></th><th>{{ form.g16_p2 }}</th></th><th>{{ form.g25_p2 }}</th></th>
      </tr>
      <tr class="round">
          <th>{{ form.player5 }}</th><th>{{ form.g05_p1 }}<th>{{ form.g10_p1 }}</th></th><th>{{ form.g15_p1 }}</th></th><th>{{ form.g20_p1 }}</th></th><th>{{ form.g25_p1 }}</th></th>
          <th>{{ form.player10 }}</th><th>{{ form.g05_p2 }}<th>{{ form.g09_p2 }}</th></th><th>{{ form.g13_p2 }}</th></th><th>{{ form.g17_p2 }}</th></th><th>{{ form.g21_p2 }}</th></th>
      </tr>
    </table>
    {% csrf_token %}
    {% for error in form.errors %}
        {{ error }}
    {% endfor %}
    <input type="submit" value="Submit" />
    </form>
{% endblock %}

{% block extra-style %}
{{ block.super }}
<style>
  .round th input {
      width:30px;
  }

  .round th select, .season th select, .teams th select {
      width: 200px;
  }

  .datepicker input {
      width: 200px;
  }
</style>
{% endblock %}